# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [1]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing
s=s[::-1]
print(s)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [3]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [4]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [12]:
# Method 1:
L=[0,0,0]
print(L)

[0, 0, 0]

In [13]:
# Method 2:
L[0-2]=0
print(L)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [14]:
list3 = [1,2,[3,4,'hello']]
list3[2]=[3,4,"goodbye"]
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [24]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)
print(list4.sort())

[1, 3, 4, 5, 6]
None

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nested dictionary grab the word "hello". **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

### Write a Python program to swap two variables.

## Thanks